{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
    <!-- Carga única de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cc7bac99e2.js" crossorigin="anonymous"></script>
    <title>Caos News</title>
</head>
<body>
    <header class="container-fluid d-flex align-items-center justify-content-between">
        <section id="logo" class="text-center text-lg-start">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/Logo.jpg' %}" alt="Logo" id="imgLogo" class="img-fluid">
            </a>
        </section>
        <section id="log_in" class="mt-auto">
            {% if user.is_authenticated %}
                <div id="divUsuario" class="dropdown">
                    <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a id="userCenter" class="dropdown-item" href="{% url 'userCenter' %}">Configuraciones</a></li>
                        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                    </ul>
                </div>
            {% else %}
                <form action="#" id="formulario">
                    <div id="divUsuario" class="dropdown">
                        <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Crear Cuenta
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'typeUser' %}">Crear Cuenta</a></li>
                            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            {% endif %}
        </section>
        <!-- Carrito de compras -->
        <section class="mt-auto">
            <a href="{% url 'view_cart' %}" class="btn btn-success position-relative">
                <i class="fas fa-shopping-cart"></i>
                {% if cart_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        1
                    </span>
                {% endif %}
            </a>
        </section>
    </header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul id="nav" class="navbar-nav mb-2 mn-lg-0 mx-auto">
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'index' %}" class="nav-link text-decoration-none">Inicio</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="#" class="nav-link text-decoration-none">Policial</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_economia' %}" class="nav-link text-decoration-none">Economía</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_deportes' %}" class="nav-link text-decoration-none">Deportes</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_ciencia_tecnologia' %}" class="nav-link text-decoration-none">Ciencia y tecnología</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_internacionales' %}" class="nav-link text-decoration-none">Internacional</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'periodistas' %}" class="nav-link text-decoration-none">Nuestro equipo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <!-- Carrusel de imágenes -->
                    <section class="carousel-images ">
                        <div id="carouselNewsletter" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselNewsletter" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselNewsletter" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselNewsletter" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselNewsletter" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                <button type="button" data-bs-target="#carouselNewsletter" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'img/noticia_carrusel_1.png' %}" class="d-block w-100 imagen-noticia" alt="Medio Ambiente">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Medio Ambiente</h5>
                                        <p>¡Gran avance en energía eólica: nueva turbina genera un 30% más de energía!</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/noticia_carrusel_2.png' %}" class="d-block w-100 imagen-noticia" alt="Internacional">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Internacional</h5>
                                        <p>¡Protestas masivas en todo el mundo en defensa de la privacidad digital!</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/deporteCarrusel.jpg' %}" class="d-block w-100 imagen-noticia" alt="Deportes">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Deportes</h5>
                                        <p>¡Emocionante semifinal de la Eurocopa: España vs. Francia!</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/noticia_carrusel_3.jpg' %}" class="d-block w-100 imagen-noticia" alt="Adaptación Climática">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Ciencia</h5>
                                        <p>¡Científicos descubren un nuevo proceso de formación de agujeros negros!</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/protesta.jpg' %}" class="d-block w-100 imagen-noticia" alt="Protesta">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Protesta</h5>
                                        <p>¡Protestas anarquistas sacuden Francia!</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselNewsletter" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselNewsletter" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </section>
                    <br>
                    <!-- Sección de videos y noticias importantes -->
                    <section class="featured-section mt-4">
                        <hr>
                        <h2 class="text-center">Videos y Noticias Importantes del Día</h2>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <iframe class="card-img-top" width="100%" height="315" src="https://www.youtube.com/embed/RKmWYwktQg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Título del Video</h5>
                                        <p class="card-text">Descripción breve del video.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4">
                                    <iframe class="card-img-top" width="100%" height="315" src="https://www.youtube.com/embed/za95m2GP78A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <h5 class="card-title">Título del Video</h5>
                                        <p class="card-text">Descripción breve del video.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br>
                    <!-- Sección del clima -->
                    <section class="weather-section mt-4">
                        <h2 class="text-center">Clima Actual</h2>
                        <div id="weather" class="text-center">
                            <p>Cargando el clima...</p>
                        </div>
                    </section>
                </div>
                <div class="col-md-4">
                    <!-- Sección Lo más leído -->
                    <section class="mas-leido" id="masLeido">
                        <h2>Lo más leído</h2>
                        <hr>
                        <div>
                            <h3>Medio Ambiente</h3>
                            <img class="imagen-mas-leido" src="{% static 'img/policia.jpg' %}" alt="Medio Ambiente">
                            <p>En medio de un clamor por la acción climática, una multitud se congrega frente al Congreso de Estados Unidos, exigiendo medidas urgentes para combatir el cambio climático. Con pancartas en alto y cánticos resonando en las calles, los manifestantes hacen un llamado claro y enérgico a los líderes políticos para que tomen medidas audaces en defensa del medio ambiente y del futuro del planeta.
                                <br><a href="{% url 'noticias_climaticas' %}" class="btn btn-secondary bt-lg mt-3">Seguir leyendo</a>
                            </p>
                        </div>
                        <hr>
                        <div>
                            <br>
                            <h3>Ciencia</h3>
                            <img class="imagen-mas-leido" src="{% static 'img/ciencia.jpg' %}" alt="Ciencia">
                            <p>En un emocionante avance en el campo de la física, investigadores han logrado identificar una nueva partícula subatómica, lo que podría transformar significativamente nuestra comprensión del universo. Este descubrimiento, realizado en las instalaciones de alto calibre del Gran Colisionador de Hadrones, no solo desafía las teorías existentes sino que también abre puertas hacia nuevas posibilidades en la exploración de la materia oscura y las fuerzas fundamentales del cosmos.
                                <br><a href="{% url 'noticias_fisica_cuantica' %}" class="btn btn-secondary bt-lg mt-3">Seguir leyendo</a>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <!-- Formulario -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Contáctanos</h2>
                    <form class="row col-9" action="{% url 'contacto' %}" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="col-6 mt-3">
                            <label for="nombreInput" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreInput" name="nombre" placeholder="Escribe tu nombre" required>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="apellidoInput" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellidoInput" name="apellido" placeholder="Escribe tu apellido" required>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="paisInput" class="form-label">País</label>
                            <input type="text" class="form-control" id="paisInput" name="pais" placeholder="Escribe tu país" required>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="ciudadInput" class="form-label">Ciudad</label>
                            <input type="text" class="form-control" id="ciudadInput" name="ciudad" placeholder="Escribe tu ciudad" required>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="emailInput" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailInput" name="email" placeholder="Escribe tu email" required>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="mensajeInput" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensajeInput" name="mensaje" rows="5" placeholder="Escribe tu mensaje" required></textarea>
                        </div>
                        <div class="col-3 mt-3">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>                    
                <div class="col-md-6">
                    <h2>¿Tienes una Historia que Contar? ¡Nosotros la Difundimos!</h2>
                    <p>En Caos News, estamos comprometidos con llevar las historias más relevantes e impactantes a nuestra audiencia. Si hay un evento o un tema que crees que merece atención, queremos saber de ello. Puedes contactarnos, estamos aquí para dar voz a tus historias y arrojar luz sobre las verdades que importan.</p>
                    <img class="camaraP" src="{% static 'img/periodista.jpg' %}" alt="Periodista">
                </div>
            </div>
        </div>
        <!-- Banner de suscripción -->
<section class="subscription-banner text-center p-4 bg-light">
    <div class="container">
        <h2>¡Suscríbete a nuestras noticias!</h2>
        <p>Mantente actualizado con las últimas noticias y artículos.</p>
        <a href="{% url 'suscribirse' %}" class="btn btn-primary btn-lg">Suscribirse Ahora</a>
    </div>
</section>

    </main>
    <!-- Pie de página -->
    <section class="pie-de-pagina">
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-4 footerItem">
                    <h4>Sobre nosotros</h4>
                    <p>En nuestra página de noticias, nos dedicamos a brindar información actualizada y precisa, cubriendo una amplia gama de temas desde política y economía hasta deportes y entretenimiento. Nuestro compromiso es con la verdad y la transparencia, asegurando que cada artículo no solo informe, sino también enriquezca el entendimiento de nuestros lectores sobre los eventos que moldean nuestro mundo. Utilizamos una variedad de fuentes confiables y un equipo editorial dedicado a verificar cada hecho, lo que nos convierte en un recurso indispensable para quienes buscan comprender las complejidades de la actualidad global.</p>
                </div>
                <div class="col-md-4 footerItem">
                    <h4>Síguenos</h4>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center">© Caos News 2024</p>
        </footer>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static './js/form.js' %}"></script>
    <script src="{% static './js/getUser.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
