{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
    <link rel="stylesheet" href="{% static 'css/deportesestilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cc7bac99e2.js" crossorigin="anonymous"></script>
    <title>Caos News</title>
</head>
<body>
    <header class="container-fluid d-flex align-items-center justify-content-between">
        <section id="logo" class="text-center text-lg-start">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/Logo.jpg' %}" alt="Logo" id="imgLogo" class="img-fluid">
            </a>
        </section>
        <section id="log_in" class="mt-auto">
            {% if user.is_authenticated %}
                <div id="divUsuario" class="dropdown">
                    <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a id="userCenter" class="dropdown-item" href="{% url 'userCenter' %}">Configuraciones</a></li>
                    </ul>
                </div>
            {% else %}
                <form action="#" id="formulario">
                    <div id="divUsuario" class="dropdown">
                        <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Crear Cuenta
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'typeUser' %}">Crear Cuenta</a></li>
                            <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            {% endif %}
        </section>
        <!-- Carrito de compras -->
        <section class="mt-auto">
            <a href="{% url 'view_cart' %}" class="btn btn-success position-relative">
                <i class="fas fa-shopping-cart"></i>
                {% if cart_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        1
                    </span>
                {% endif %}
            </a>
        </section>
    </header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul id="nav" class="navbar-nav mb-2 mn-lg-0 mx-auto">
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'index' %}" class="nav-link text-decoration-none">Inicio</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="#" class="nav-link text-decoration-none">Policial</a></li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_economia' %}" class="nav-link text-decoration-none">Economía</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_deportes' %}" class="nav-link text-decoration-none">Deportes</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_ciencia_tecnologia' %}" class="nav-link text-decoration-none">Ciencia y tecnología</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_internacionales' %}" class="nav-link text-decoration-none">Internacional</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'periodistas' %}" class="nav-link text-decoration-none">Nuestro equipo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid bg-light py-5 text-center">
        <div class="row"></div>
        <h1>Internacional</h1>
    </div>

    <div class="custom-container container mt-5">
        <h2 class="custom-title text-center">Cumbre Global sobre el Cambio Climático: Líderes Mundiales Comprometidos con la Acción Climática</h2>
        <div class="row">
            <div class="col-md-8">
                <img class="custom-image img-fluid" src="{% static 'img/noticiasinternacionales/internaciona_1.jpg' %}" alt="Cumbre sobre el Cambio Climático">
            </div>
            <div class="col-md-4">
                <p class="custom-text text-justify">
                    En la reciente Cumbre Global sobre el Cambio Climático celebrada en París, líderes mundiales de más de 100 países se comprometieron a implementar políticas más estrictas para reducir las emisiones de carbono. Durante el evento, se discutieron estrategias para promover la energía renovable y mejorar la eficiencia energética. Además, se anunció la creación de un fondo internacional destinado a apoyar a los países en desarrollo en su transición hacia economías sostenibles y resilientes al clima. Esta cumbre marca un paso significativo en los esfuerzos globales para combatir el cambio climático y proteger el medio ambiente para las futuras generaciones.
                </p>
            </div>
        </div>
    </div>

    <!-- Tarjetas horizontales -->
    <div class="container mt-5">
        <div class="card mb-3 border-0">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{% static 'img/noticiasinternacionales/elecciones_1.jpg' %}" class="img-fluid custom-image rounded-start" alt="Elecciones en Europa">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h2 class="card-title">Elecciones en Europa: Un Nuevo Panorama Político</h2>
                        <p class="custom-text text-justify">
                            Las recientes elecciones en varios países europeos han resultado en cambios significativos en el panorama político. En Alemania, el partido Verde ha logrado un avance histórico, obteniendo un número récord de escaños en el Parlamento. En Francia, el movimiento centrista ha consolidado su posición, mientras que en Italia, una coalición de partidos de derecha ha ganado terreno. Estos resultados reflejan un cambio en las prioridades de los votantes europeos, con un enfoque creciente en la sostenibilidad, la justicia social y la reforma económica. Los analistas prevén que estos cambios influirán en las políticas nacionales y en la dirección futura de la Unión Europea.
                        </p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success bt-lg">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="card mb-3 border-0">
            <div class="row g-0">
                <div class="col-md-7">
                    <div class="card-body">
                        <h2 class="card-title">Crisis Humanitaria en Medio Oriente: Llamado a la Acción Internacional</h2>
                        <p class="custom-text text-justify">
                            La crisis humanitaria en Medio Oriente continúa empeorando, con millones de personas desplazadas debido a conflictos y violencia. Las organizaciones humanitarias han emitido un llamado urgente a la comunidad internacional para proporcionar asistencia y apoyo. En Siria y Yemen, la situación es particularmente grave, con escasez de alimentos, agua y atención médica. Los líderes mundiales están siendo instados a incrementar la ayuda humanitaria y a trabajar hacia soluciones diplomáticas para poner fin a la violencia y permitir el regreso seguro de los desplazados a sus hogares.
                        </p>
                        <div class="text-center">
                            <a href="#" class="btn btn-success bt-lg">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="{% static 'img/noticiasinternacionales/crisis_1.png' %}" class="img-fluid custom-image rounded-start" alt="Crisis Humanitaria en Medio Oriente">
                </div>
            </div>
        </div>
    </div>

    <!-- Tarjetas -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/internacional/economia_global.jpg' %}" class="card-img-top custom-image rounded" alt="Economía Global">
                    <div class="card-body">
                        <h5 class="card-title">Economía Global: Recuperación Post-Pandemia</h5>
                        <p class="custom-text text-justify">
                            La economía global muestra signos de recuperación tras la pandemia de COVID-19, con un crecimiento en el comercio y la inversión. Sin embargo, los desafíos persisten, incluidos los problemas en la cadena de suministro y la inflación. Los economistas instan a los gobiernos a implementar políticas fiscales y monetarias que apoyen un crecimiento sostenible y equitativo.
                        </p>
                        <a href="#" class="btn btn-primary">Ir a noticia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/internacional/tecnologia.jpg' %}" class="card-img-top custom-image rounded" alt="Innovación Tecnológica">
                    <div class="card-body">
                        <h5 class="card-title">Innovación Tecnológica: Nuevos Avances en IA</h5>
                        <p class="custom-text text-justify">
                            La inteligencia artificial (IA) continúa avanzando, con nuevas aplicaciones que transforman diversas industrias. Desde la salud hasta la educación, la IA está mejorando la eficiencia y creando nuevas oportunidades. Los expertos subrayan la importancia de regulaciones éticas para asegurar que el desarrollo de la IA beneficie a toda la sociedad.
                        </p>
                        <a href="#" class="btn btn-primary">Ir a noticia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/internacional/medio_ambiente.jpg' %}" class="card-img-top custom-image rounded" alt="Medio Ambiente">
                    <div class="card-body">
                        <h5 class="card-title">Medio Ambiente: Conservación de la Biodiversidad</h5>
                        <p class="custom-text text-justify">
                            La conservación de la biodiversidad se ha convertido en una prioridad global, con iniciativas para proteger especies en peligro de extinción y restaurar hábitats naturales. Los esfuerzos incluyen proyectos de reforestación, protección de áreas marinas y programas de educación ambiental. La colaboración internacional es clave para lograr estos objetivos.
                        </p>
                        <a href="#" class="btn btn-primary">Ir a noticia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie de página / Footer -->
    <section class="pie-de-pagina">
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-4 footerItem">
                    <h4>Sobre nosotros</h4>
                    <p>"En nuestra página de noticias, nos dedicamos a brindar información actualizada y precisa, cubriendo una amplia gama de temas desde política y economía hasta deportes y entretenimiento. Nuestro compromiso es con la verdad y la transparencia, asegurando que cada artículo no solo informe, sino también enriquezca el entendimiento de nuestros lectores sobre los eventos que moldean nuestro mundo. Utilizamos una variedad de fuentes confiables y un equipo editorial dedicado a verificar cada hecho, lo que nos convierte en un recurso indispensable para quienes buscan comprender las complejidades de la actualidad global."</p>
                </div>
                <div class="col-md-4 footerItem">
                    <h4>Síguenos</h4>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-x'></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center">©CaosNews 2024</p>
        </footer>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static './js/form.js' %}"></script>
    <script src="{% static './js/getUser.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
