{%load static%}
<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caos New</title>
    <link rel="stylesheet" href="{% static './css/estilonoticias.css' %}">
    <link rel="stylesheet" href="{% static './css/estiloIndex.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cc7bac99e2.js" crossorigin="anonymous"></script>
</head>
<body>
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
        <!-- Carga única de jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cc7bac99e2.js" crossorigin="anonymous"></script>
        <title>Caos News</title>
    </head>
    <body>
        <header class="container-fluid"> 
            <article class="row align-items-center">
                <section id="logo" class="col-9 col-sm text-center text-lg-start">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/Logo.jpg' %}" alt="Logo" id="imgLogo" class="img-fluid">
                    </a>
                </section>
                <section id="log_in" class="col-3 col-sm mt-auto">
                {% if user.is_authenticated %}
                    <div id="divUsuario" class="dropdown">
                        <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expand="false">
                            {{user}}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a id="userCenter" class="dropdown-item" href="{% url "userCenter" %}">Configuraciones</a></li>
                        </ul>
                    </div>
                {% else %}
                    <form action="#" id="formulario">
                        <div id="divUsuario" class="dropdown">
                            <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expand="false">
                                Crear Cuenta
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'typeUser' %}">Crear Cuenta</a></li>
                                <li><a href="{% url 'login' %}">iniciar Sesion</a></li>
                            </ul>
                        </div>
                    </form>
                {% endif %}
                </section>
            </article>
            <div class="position-relative">
                <a href="{% url 'view_cart' %}" class="btn btn-success position-relative">
                    <i class="fas fa-shopping-cart"></i>
                    {% if cart_count > 0 %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            1
                        </span>
                    {% endif %}
                </a>
            </div>
        </header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul id="nav" class="navbar-nav mb-2 mn-lg-0 mx-auto">
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'index' %}" class="nav-link text-decoration-none">Inicio</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="#" class="nav-link text-decoration-none">Policial</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_economia' %}" class="nav-link text-decoration-none">Economía</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_deportes' %}" class="nav-link text-decoration-none">Deportes</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_ciencia_tecnologia' %}" class="nav-link text-decoration-none">Ciencia y tecnología</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_internacionales' %}" class="nav-link text-decoration-none">Internacional</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'periodistas' %}" class="nav-link text-decoration-none">Nuestro equipo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="container-fluid bg-light py-5 text-center">
        <div class="row">
            <div class="col-8 mx-auto">
                <h1>Descubrimientos Pioneros en el LHC: Nuevas Partículas Exóticas y Avances en Física Cuántica</h1><br>
                <img class="imagen-protesta" src="{% static 'img/imagenes noticias ciencia/noticia-ciencia1.jpg' %}" alt="Descripción de la imagen" loading="lazy"><br>
                <p class="texto-protesta">Recientemente, la comunidad científica ha observado algunos avances notables en la física de partículas. En el Gran Colisionador de Hadrones (LHC), el experimento LHCb ha descubierto tres nuevas partículas exóticas, incluyendo un tipo nuevo de "pentaquark" y el primer par conocido de "tetraquarks". Estos hallazgos podrían ayudar a los físicos a entender mejor cómo los quarks se combinan para formar estas partículas compuestas, ampliando nuestro conocimiento de la estructura fundamental de la materia.
                    Además, en otro avance significativo, investigadores en la Universidad de Purdue han identificado un nuevo estado cuántico con partículas emergentes llamadas fermiones compuestos de seis flujos. Este descubrimiento podría expandir nuestra comprensión de los estados cuánticos fraccionarios conocidos en el efecto Hall cuántico fraccional, proporcionando una nueva perspectiva sobre estas intrigantes configuraciones de partículas.
                    Estos descubrimientos no solo subrayan el continuo potencial de los aceleradores de partículas como herramientas para explorar los fundamentos de la física, sino que también resaltan el uso de tecnologías avanzadas y teorías matemáticas para descifrar los fenómenos más complejos del universo.</p>
                <br>
                <img class="imagen-protesta" src="{% static 'img/imagenes noticias ciencia/noticia-ciencia2.jpg' %}" alt="Descripción de la imagen" loading="lazy">
                <p class="texto-protesta">Por otro lado, el descubrimiento en la Universidad de Purdue sobre los fermiones compuestos de seis flujos ofrece una nueva forma de entender las partículas que emergen en condiciones extremas, como las que se presentan en los estados cuánticos fraccionarios del efecto Hall cuántico fraccional. Este avance podría ser crucial para desarrollar una "tabla periódica" de estados cuánticos fraccionarios, proporcionando un marco más claro para la clasificación y estudio de estos fenómenos.</p>
                <br>
                <div class="autor-info">
                    <img src="{% static 'img/fotosperiodistas/periodista_2.png' %}" alt="Foto periodista" style="width: 50px; height: 50px; border-radius: 50%;" loading="lazy">
                    <p class="autor">Escrito por: <strong>Nombre del Autor</strong></p>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Noticias relacionadas / Tarjetas -->
    <div>
        <h2>Noticias relacionadas</h2>
    </div> 
    <div class="container mt-lg-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="{% static 'img/imagenes noticias/card-1.jpg' %}" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ciudadanos Desafían el Mal Tiempo para Luchar por el Clima</h5>
                        <p class="card-text">A pesar de la lluvia torrencial, un grupo dedicado de activistas se reunió en el centro de la ciudad para exigir reformas ambientales. La determinación de los manifestantes resaltó la urgencia de su causa, incluso bajo condiciones climáticas adversas.</p>
                        <a href="#" class="btn btn-primary">Ir a noticia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="{%static 'img/imagenes noticias/card-2.jpg' %}" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Escalada de Violencia en Protestas Climáticas en Francia</h5>
                        <p class="card-text">Las protestas climáticas en Francia se tornaron violentas hoy, con choques entre policía y manifestantes en París. Barricadas y altercados reflejaron la creciente frustración por la lenta respuesta política al cambio climático, evidenciando profundas divisiones en la sociedad.</p>
                        <a href="#" class="btn btn-primary">Ir a noticia</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="{% static 'img/imagenes noticias/card-3.jpg' %}" class="card-img-top rounded" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Multitudes se Unen en Nantes para Exigir Acciones Contra el Cambio Climático</h5>
                        <p class="card-text">En un acto de solidaridad y preocupación por el futuro, cientos de personas se congregaron en el centro de Nantes para manifestarse contra la inacción gubernamental frente al cambio climático. A pesar del clima desfavorable, la plaza se llenó de voces unidas por una causa común.</p>
                        <a href="#" class="btn btn-primary">Ir a noticia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pie de página / Footer -->
    <section class="pie-de-pagina">
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-4 footerItem">
                    <h4>Sobre nosotros</h4>
                    <p>"En nuestra página de noticias, nos dedicamos a brindar información actualizada y precisa, cubriendo una amplia gama de temas desde política y economía hasta deportes y entretenimiento. Nuestro compromiso es con la verdad y la transparencia, asegurando que cada artículo no solo informe, sino también enriquezca el entendimiento de nuestros lectores sobre los eventos que moldean nuestro mundo. Utilizamos una variedad de fuentes confiables y un equipo editorial dedicado a verificar cada hecho, lo que nos convierte en un recurso indispensable para quienes buscan comprender las complejidades de la actualidad global."</p>
                </div>
                <div class="col-md-4 footerItem">
                    <h4>Síguenos</h4>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-X"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center">©CaosNews 2024</p>
        </footer>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static './js/form.js' %}"></script>
    <script src="{% static './js/getUser.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
