{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
    <!-- Carga única de jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cc7bac99e2.js" crossorigin="anonymous"></script>
    <title>Caos News</title>
</head>
<body>
    <header class="container-fluid d-flex align-items-center justify-content-between">
        <section id="logo" class="text-center text-lg-start">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/Logo.jpg' %}" alt="Logo" id="imgLogo" class="img-fluid">
            </a>
        </section>
        <section id="log_in" class="mt-auto">
            {% if user.is_authenticated %}
                <div id="divUsuario" class="dropdown">
                    <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a id="userCenter" class="dropdown-item" href="{% url 'userCenter' %}">Configuraciones</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                    </ul>
                </div>
            {% else %}
                <form action="#" id="formulario">
                    <div id="divUsuario" class="dropdown">
                        <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Crear Cuenta
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="{% url 'typeUser' %}">Crear Cuenta</a></li>
                            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                </form>
            {% endif %}
        </section>
        <!-- Carrito de compras -->
        <section class="mt-auto">
            <a href="{% url 'view_cart' %}" class="btn btn-success position-relative">
                <i class="fas fa-shopping-cart"></i>
                {% if cart_count > 0 %}
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        1
                    </span>
                {% endif %}
            </a>
        </section>
    </header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul id="nav" class="navbar-nav mb-2 mn-lg-0 mx-auto">
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'index' %}" class="nav-link text-decoration-none">Inicio</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_policial' %}" class="nav-link text-decoration-none">Policial</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_economia' %}" class="nav-link text-decoration-none">Economía</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_deportes' %}" class="nav-link text-decoration-none">Deportes</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_ciencia_tecnologia' %}" class="nav-link text-decoration-none">Ciencia y tecnología</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'noticias_internacionales' %}" class="nav-link text-decoration-none">Internacional</a>
                    </li>
                    <li class="border-end border-dark nav-item">
                        <a href="{% url 'periodistas' %}" class="nav-link text-decoration-none">Nuestro equipo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <body>
        <div class="container mt-5">
            <h1>Nuestros equipo</h1>
            <hr>
            <br>
            <div class="row">
            <div class="col-md-4">
                <div class="card">
                <img src="{% static 'img/fotosperiodistas/periodista_3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Carlos Fernández</h5>
                    <p class="card-text">
                    <hr>
                    <h6>Noticias Internacionales y Política</h6>
                    <hr>
                    Carlos Fernández es un periodista reconocido por su cobertura de noticias internacionales y política.
                    Con una licenciatura en Ciencias de la Comunicación por la Universidad Autónoma de Madrid, Carlos ha 
                    trabajado para importantes medios como CNN y BBC World News. A lo largo de su carrera, ha informado sobre 
                    eventos cruciales como elecciones presidenciales, crisis diplomáticas y conflictos internacionales. 
                    Su habilidad para ofrecer análisis detallados y perspicaces lo ha convertido en una fuente confiable 
                    de información política y global. Carlos es invitado frecuente en programas de debate y conferencias 
                    sobre política internacional, donde comparte su amplia experiencia y conocimientos.
                    <br>
                    <hr>
                    <h6>Contacto</h6>
                    carlos.fernandez@worldnews.com | @CarlosFernandezInt
                    </p>
                    <a href="#" class="btn btn-primary">Ir a noticia</a>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                <img class="periodistas" src="{% static 'img/fotosperiodistas/periodista_2.png' %}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laura Martínez</h5>
                    <p class="card-text">
                    <hr>
                    <h6>Periodismo Económico</h6>
                    <hr>
                    Laura Martínez es una periodista experta en economía con más de 15 años de experiencia en el campo. 
                    Graduada en Ciencias Económicas por la Universidad Complutense de Madrid, Laura comenzó su carrera 
                    en el periódico "El País", donde rápidamente se destacó por sus análisis profundos y claros sobre 
                    las tendencias económicas globales. Ha trabajado para medios de prestigio como Bloomberg y Financial 
                    Times, cubriendo eventos económicos clave y entrevistando a figuras influyentes del sector financiero. 
                    Laura es autora del libro "La Economía del Futuro" y participa regularmente en conferencias y paneles 
                    internacionales, donde aporta su conocimiento y visión sobre los desafíos económicos actuales y futuros.
                    <br>
                    <hr>
                    <h6>Contacto</h6>
                    laura.martinez@economedia.com | @LauraMartinezEco
                    </p>
                    <a href="#" class="btn btn-primary">Ir a noticia</a>
                </div>
                </div>
            </div>
            <div class="col-md-4 periodista">
                <div class="card">
                <img class="periodistas" src="{% static 'img/fotosperiodistas/periodista_1.png' %}" alt="">
                <div class="card-body">
                    <h5 class="card-title">Mariana Álvarez</h5>
                    <p class="card-text">
                    <hr>
                    <h6>Periodismo Ambiental</h6>
                    <hr>
                    Mariana Álvarez es una destacada periodista especializada en noticias ambientales. Con una licenciatura 
                    en Ciencias de la Comunicación de la Universidad de Buenos Aires, Mariana ha trabajado para medios 
                    reconocidos como "La Nación" y la BBC. Sus reportajes sobre cambio climático y sostenibilidad han sido 
                    galardonados con premios como el Global Green Journalist Award. Además de su trabajo periodístico, Mariana 
                    es autora de dos libros sobre medio ambiente y participa activamente en conferencias y foros internacionales 
                    para promover la educación ambiental.
                    <br>
                    <hr>
                    <h6>Contacto</h6>
                    mariana.alvarez@caosNew.com | @MarianaAlvarezEnv
                    </p>
                    <a href="#" class="btn btn-primary">Ir a noticia</a>
                </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </body>
    <!-- Pie de página -->
    <section class="pie-de-pagina">
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-4 footerItem">
                    <h4>Sobre nosotros</h4>
                    <p>En nuestra página de noticias, nos dedicamos a brindar información actualizada y precisa, cubriendo una amplia gama de temas desde política y economía hasta deportes y entretenimiento. Nuestro compromiso es con la verdad y la transparencia, asegurando que cada artículo no solo informe, sino también enriquezca el entendimiento de nuestros lectores sobre los eventos que moldean nuestro mundo. Utilizamos una variedad de fuentes confiables y un equipo editorial dedicado a verificar cada hecho, lo que nos convierte en un recurso indispensable para quienes buscan comprender las complejidades de la actualidad global.</p>
                </div>
                <div class="col-md-4 footerItem">
                    <h4>Síguenos</h4>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center">© Caos News 2024</p>
        </footer>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static './js/form.js' %}"></script>
    <script src="{% static './js/getUser.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
