/*General*/
body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color:slateblue ;
}

/*IDs*/
#logo {
    width: 800px;
    margin: auto;
}

#imgLogo{
    margin: 20px;
    border-radius: 100px;
}

#log_in{
    width: 300px;
    margin: 10px auto 10px auto;
    
}

#formulario  {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

#labelRegistro, #textBuscar, #submitBuscar {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid slateblue;
}

#labelRegistro{
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto ;
    margin-right: auto;
    background-color: red;
    font-size: 20;
    border-radius: 20px;
}

#buscar {
    display: flex;
}

#textBuscar {
    margin-left: 15px;
    width: 80%;
}

#submitBuscar{
    width: 10%;
}

#nav li{
    margin: 10px;
    padding: 10px;
    padding-right: 20px;
}

#nav li:hover{
    color:black;
}
/*carrusel*/
.carousel {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.imagen-noticia {
    width: 100%;
    height: auto;
}
/*seccion mas leido*/
.seccion-mas-leido {
    width: 100%;
    max-width: 700px;
    height: auto;
    float: none;
    margin: 0 auto;
    padding: 40px 30px;
    background-color: rgb(255, 255, 255);
}

.imagen-mas-leido {
    width: 100%;
    height: auto;
    padding: 20px;
}
/*texto y fuentes*/
.h3 {
    color: rgb(247, 247, 247);
    font-size: 30px;
    text-align: center;
}

.p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*pie de pagina*/
.pie-de-pagina {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: small;
    padding: 10px 10px 30px 10px;
    margin-top: 50px;
    background-color: slateblue;
}
.social-media{
    color: black;
    .fab{
        color: black;
    }
}
