/*General*/
body{
    padding: 0px;
    margin: 0px;
    background-color: #F2DAC4;
}

header{
    background-color:#594432 ;
}

main{
    background-color:#F2DAC4;
}

/*IDs*/
#logo {
    width: 800px;
    margin: auto;
}

#imgLogo{
    margin: 20px;
    border-radius: 100px;
}

#log_in{
    width: 300px;
    margin: 10px auto 10px auto;
    
}

#formulario  {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

#textBuscar, #submitBuscar {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid slateblue;
}

#boton{
    margin: 30px;
}

#buscar {
    display: flex;
}

#textBuscar {
    margin-left: 15px;
    width: 80%;
}

#submitBuscar{
    width: 10%;
}

#nav li{
    margin: 10px;
    padding: 10px;
    padding-right: 20px;
}

#nav li:hover{
    color:black;
}

/*carrusel*/
.carousel, #carrusel {
    width: 800px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    background-color: #F2DAC4;
}

.imagen-noticia {
    width: 100%;
    height: auto;
}
/*seccion mas leido*/
.seccion-mas-leido {
    width: 100%;
    max-width: 700px;
    height: auto;
    float: none;
    margin: auto;
    padding: 40px 30px;
    background-color: rgb(242, 218, 196);
}

.imagen-mas-leido {
    width: 500px;
    height: auto;
    padding: 20px;
}

/*texto y fuentes*/
.h3 {
    color: rgb(247, 247, 247);
    font-size: 30px;
    text-align: center;
}

.p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*pie de pagina*/
.pie-de-pagina {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: small;
    padding: 10px;
    background-color: #8C7764;
}

.footerItem{
    padding-top: 25px;
}

.social-media{
    color: black;
    .fab{
        color: black;
    }
}
