{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estiloCenter.css' %}">
    <link rel="stylesheet" href="{% static 'css/estiloindex.css' %}">
    <title>Suscríbete a las Noticias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cc7bac99e2.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid">
        <article class="row align-items-center">
            <section id="logo" class="col-9 col-sm text-center text-lg-start">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/Logo.jpg' %}" alt="Logo" id="imgLogo" class="img-fluid">
                </a>
            </section>
            <section id="log_in" class="col-3 col-sm mt-auto">
                <div id="divUsuario" class="dropdown">
                    <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a id="userCenter" class="dropdown-item" href="{% url 'userCenter' %}">Configuraciones</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a></li>
                    </ul>
                </div>
            </section>
        </article>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul id="nav" class="navbar-nav mb-2 mn-lg-0 mx-auto">
                    <li class="border-end border-dark nav-item navbar-text">
                        <a href="{% url 'index' %}" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="border-end border-dark nav-item navbar-text"><a href="#" class="text-decoration-none">Policial</a></li>
                    <li class="border-end border-dark nav-item navbar-text"><a href="#" class="text-decoration-none">Economía</a></li>
                    <li class="border-end border-dark nav-item navbar-text"><a href="#" class="text-decoration-none">Deportes</a></li>
                    <li class="border-end border-dark nav-item navbar-text"><a href="{% url 'noticias_ciencia_tecnologia' %}" class="text-decoration-none">Ciencia y tecnología</a></li>
                    <li class="border-end border-dark nav-item navbar-text"><a href="{% url 'noticias_internacionales' %}" class="text-decoration-none">Internacional</a></li>
                    <li class="border-end border-dark nav-item navbar-text"><a href="{% url 'periodistas' %}" class="text-decoration-none">Nuestro equipo</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Suscríbete a nuestro servicio de noticias</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Plan Plus: Papel + Digital</h5>
                        <h6 class="card-subtitle mb-2 text-muted">40,000 CLP <span class="text-decoration-line-through">80,000 CLP</span> -50%</h6>
                        <p class="card-text">Por solo 3,333 CLP al mes</p>
                        <ul class="list-unstyled">
                            <li>✔ 50% de descuento hasta el <strong>14/07/2024</strong></li>
                            <li>✔ Noticias en papel en tu casa</li>
                            <li>✔ Gastos de envío gratuitos</li>
                            <li>✔ Acceso a todo el contenido exclusivo en la web</li>
                            <li>✔ Edición digital de las noticias en la web y en la app</li>
                            <li>✔ Acceso a la Hemeroteca digital de noticias en la web y en la app</li>
                            <li>✔ Participación en experiencias y eventos digitales exclusivos</li>
                        </ul>
                        <form method="post" action="{% url 'suscribirse' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subscription_type" value="Plan Plus: Papel + Digital">
                            <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Plan Papel Anual</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            32,355 CLP <span class="text-decoration-line-through">80,910 CLP</span> -60%
                        </h6>
                        <p class="card-text">Por solo 2,691 CLP al mes</p>
                        <ul class="list-unstyled">
                            <li>✔ 60% de descuento por tiempo limitado</li>
                            <li>✔ Noticias en papel en tu casa</li>
                            <li>✔ Gastos de envío gratuitos</li>
                            <li>✔ Acceso a todo el contenido exclusivo en la web</li>
                            <li>✔ Edición digital de las noticias en la web y en la app</li>
                        </ul>
                        <form method="post" action="{% url 'suscribirse' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subscription_type" value="Plan Papel Anual">
                            <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Plan Digital Anual</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            10,800 CLP <span class="text-decoration-line-through">44,991 CLP</span> -76%
                        </h6>
                        <p class="card-text">Por solo 900 CLP al mes</p>
                        <ul class="list-unstyled">
                            <li>✔ 76% de descuento por tiempo limitado</li>
                            <li>✔ Acceso a todo el contenido exclusivo en la web</li>
                            <li>✔ Edición digital de las noticias en la web y en la app</li>
                            <li>✔ Acceso a la Hemeroteca digital de noticias en la web y en la app</li>
                            <li>✔ Participación en experiencias y eventos digitales exclusivos</li>
                        </ul>
                        <form method="post" action="{% url 'suscribirse' %}">
                            {% csrf_token %}
                            <input type="hidden" name="subscription_type" value="Plan Digital Anual">
                            <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'view_cart' %}" class="btn btn-success mt-3">Ver Carrito</a>
    </div>
    <br>
    <br>
    <!-- Pie de página -->
    <section class="pie-de-pagina">
        <footer class="container-fluid">
            <div class="row">
                <div class="col-md-4 footerItem">
                    <h4>Sobre nosotros</h4>
                    <p>En nuestra página de noticias, nos dedicamos a brindar información actualizada y precisa, cubriendo una amplia gama de temas desde política y economía hasta deportes y entretenimiento. Nuestro compromiso es con la verdad y la transparencia, asegurando que cada artículo no solo informe, sino también enriquezca el entendimiento de nuestros lectores sobre los eventos que moldean nuestro mundo. Utilizamos una variedad de fuentes confiables y un equipo editorial dedicado a verificar cada hecho, lo que nos convierte en un recurso indispensable para quienes buscan comprender las complejidades de la actualidad global.</p>
                </div>
                <div class="col-md-4 footerItem">
                    <h4>Síguenos</h4>
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center">© Caos News 2024</p>
        </footer>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static './js/form.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
