body,html {
    height: 100%;
}

body {
    margin: auto;
    background-color: #F3EFEE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: 10px;
    padding-bottom: 50px;
    pointer-events: none;
    user-select: none;

}

main {
    margin: auto;
    height: 450px;
    width: 450px;
}

#caosNew {
    display: flex;
    justify-content: center;
}

#caosNew > img {
    border-radius: 10px;
}

#caosNew > p {
    font-weight:900;
    margin-top: 10px;
    margin-left: 10px;
}

#form {
    height: auto;
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    font-size: 15px;
}

#formulario {
    width: 400px;
    user-select: none;
    
}

#formulario > h1 {
    padding-top: 10px;
}

#submit {
    margin-top: 30px;
}

#obligatorio {
    margin-top: 20px;
}

#error {
    margin-top: 30px;
    margin: auto;
}


.formItem {
    margin: 30px 0px 30px 0px;
}

.inputform, .selectform {
    background-color: #F3EFEE;
    border: 1px solid #F3EFEE;
    border-radius: 10px;
}