/* General */
body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff; /* Fondo gris claro */
}

header {
    background-color: #333333; /* Fondo blanco */
}

main {
    background-color: #ffffff; /* Fondo blanco */
}

/* IDs */
#logo {
    width: 800px;
    margin: auto;
}

#imgLogo {
    margin: 20px;
    border-radius: 100px;
}

#log_in {
    width: 300px;
    margin: auto;
}

#formulario, #divUsuario  {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

#userCenter{
    color: white;
}

#textBuscar, #submitBuscar {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid slateblue;
}

#boton {
    margin: 30px 30px 0px 30px;
}


#buscar {
    display: flex;
}

#textBuscar {
    margin-left: 15px;
    width: 80%;
}

#submitBuscar {
    width: 10%;
}

#nav li {
    margin: 10px;
    padding: 10px;
    padding-right: 20px;
}

#nav li:hover {
    color: black;
}

/* Carrusel */
.carousel, #carrusel {
    width: 800px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con transparencia */
    color: white;
    padding: 10px;
    border-radius: 5px; /* Opcional: para bordes redondeados */
}

.carousel-control-prev, .carousel-control-next {
    display: none;
}

.imagen-noticia {
    width: 100%;
    height: auto;
}

/* Sección Lo más leído */
.seccion-mas-leido {
    width: 100%;
    max-width: 700px;
    height: auto;
    float: none;
    margin: auto;
    padding: 40px 30px;
    background-color: #ffffff; /* Fondo blanco */
}

.imagen-mas-leido {
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 5%;
}

/* Imagen cámara */
.camaraP {
    width: 600px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 5%;
}

@media (max-width: 768px) {
    .camaraP {
        width: 100%;
        height: auto;
    }
}

/* Texto y fuentes */
.h3 {
    color: rgb(247, 247, 247);
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pie de página */
.pie-de-pagina {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: small;
    padding: 10px;
    background-color: #626262; /* Fondo blanco */
}

.footerItem {
    padding-top: 25px;
}

.social-media {
    color: black;
}

.fab {
    color: black;
}

/* Navbar */
.navbar-nav .nav-item .nav-link {
    color: #000;
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007BFF;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007BFF;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-item .nav-link.active {
    color: #007BFF;
}

.navbar-nav .nav-item .nav-link.active::after {
    width: 100%;
}


.weather-section {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
}


.subscription-banner {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-bottom: 20px;
}

.subscription-banner h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subscription-banner p {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.subscription-banner .btn {
    padding: 10px 20px;
    font-size: 1.25rem;
}


/* Estilo para la notificación del carrito */
.position-relative .badge {
    font-size: 0.75rem;
    line-height: 1;
    display: inline-block;
    padding: 0.25em 0.4em;
    vertical-align: baseline;
    border-radius: 10rem;
    position: absolute;
    top: -0.5em;
    right: -0.5em;
}

.plan-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.plan-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.plan-card .recommended {
    display: block;
    background-color: #ffeb3b;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.plan-card h2 {
    margin-bottom: 10px;
}

.plan-card .price-section {
    margin: 20px 0;
}

.plan-card .price-section .old-price {
    text-decoration: line-through;
    color: #888;
    display: block;
}

.plan-card .price-section .new-price {
    font-size: 1.5em;
    color: #e91e63;
    display: block;
}

.plan-card .price-section .discount {
    background-color: #e91e63;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.plan-card button {
    margin: 20px 0;
}

.plan-card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.plan-card ul li {
    margin: 10px 0;
    position: relative;
}

.plan-card ul li:before {
    content: '✔';
    color: #4caf50;
    font-weight: bold;
    margin-right: 10px;
}
