{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './css/estiloUsuarios.css' %}">
</head>
<body>
    <header class="container-fluid">
        <article class="row align-items-center">
            <section id="logo" class="col-9 col-sm text-center text-lg-start">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/Logo.jpg' %}" alt="Logo" id="imgLogo" class="img-fluid">
                </a>
            </section>
            <section id="log_in" class="col-3 col-sm mt-auto">
                <div id="divUsuario" class="dropdown">
                    <button type="button" id="boton" class="btn btn-success rounded-pill dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        opciones
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a id="userCenter" class="dropdown-item" href="{% url 'index' %}">Volver a la pantalla principal</a></li>
                    </ul>
                </div>
            </section>
        </article>
    </header>
    <main class="userMain">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">email</th>
                    <th scope="col">tipo de usuario</th>
                    <th scope="col">opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in user %}
                    <tr>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.first_name}}</td>
                        <td><a class="btn btn-danger" href="{% url 'deleteUser' usuario.username %}">Eliminar usuario</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>