/* styles.css */
.custom-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-title {
    margin-bottom: 30px;
}

.custom-text {
    font-size: 1.1em;
    line-height: 1.6;
}

.custom-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-justify {
    text-align: justify;
}
