.periodistas-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Mantiene la relación de aspecto 1:1 */
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
}

.periodistas-container img {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.card-body h6 {
    font-weight: bold;
}

/* Media query para pantallas más pequeñas de 600px */
@media (max-width: 600px) {
    .periodistas-container {
        width: 100%;
        padding-top: 100%;
    }
}