body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#bloque {
    flex: 1;
}

#user{
    padding: 50px;
    background-color:antiquewhite;
}

#user_c{
    margin: 40px;
    margin-left: 20px;
    width: 200px;;
}

#tu_cuenta{
    margin-top: 50px;

}

#selected{
    padding: 50px;
}