body, html{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#user{
    padding: 50px;
    background-color:antiquewhite;
}

#user_c{
    margin-top: 20px;
    margin: 40px;
    width: 200px;
}

#tu_cuenta{
    margin-top: 50px; 

}

#selected{
    padding: 50px;
}