.mensajes-recibidos {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.mensajes {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #f0f0f0;
}